<%- include("partials/header"); -%>
<h1><%= title %></h1>
<blockquote>
<p><%=content%></p>
</blockquote>

<figcaption>     &mdash; 
    <%=postWriter%>   
</figcaption>

<%- include("partials/footer"); -%>